.footer{
    background: #121212;
    padding: 40px 0px;
}

.footer .telephone{
    color: var(--white);
}

.footer-left{
    display: flex;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .contact{
    margin-left: 25px;
}

.footer-other-info{
    margin-top: 60px;
}

.text-item, .text-item a{
    color: #6C6C6C;
}

.text-item:not(:first-child){
    margin-top: 15px;
    color: #6C6C6C;
}

@media(max-width: 550px){
    .footer .contact{
        margin-left: 5px;
    }

    .footer-content{
        flex-direction: column;
    } 

    .footer-left{
        margin-top: 20px;
    }
}