.footer{
    background: #121212;
    padding: 40px 0px;
}

.footer .telephone{
    color: var(--white);
}

.footer-left{
    display: flex;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer .contact{
    margin-left: 25px;
}

.rights{
    margin-top: 60px;
    color: #6C6C6C;
}

@media(max-width: 500px){
    .footer .contact{
        margin-left: 5px;
    }
}